/* Very basic layout for all dialogs. */
#entity-dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}
#entity-dialog .inner {
  color: #333;
  box-shadow: 0 3px 15px 4px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  overflow: hidden;
  /* Positioned offscreen for preloading. */
  background: #ffffff url(../images/spinner.gif) no-repeat fixed -9999px -9999px;
}
#entity-dialog .inner.loading {
  background-position: center center;
}
/* Growl-style messages. */
#entity-dialog-status {
  opacity: 0;
  width: 100%;
  position: fixed;
  left: 40%;
  top: 15px;
  z-index: 100;
}
#entity-dialog-status .messages {
  width: 20%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.13);
  border-radius: 5px;
  opacity: 1;
}
