#entity-dialog.ed-default {
  background-color: rgba(0, 0, 0, 0.7);
}
#entity-dialog.ed-default .inner {
  position: absolute;
  z-index: 9;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 70%;
  width: 70%;
  max-width: 935px;
  max-height: 525px;
  margin: auto;
  /* Positioned offscreen for preloading. */
  background: transparent url(../images/spinner.gif) no-repeat fixed -9999px -9999px;
}
#entity-dialog.ed-default .inner.loading {
  background-position: center center;
}
#entity-dialog.ed-default .dialog-content {
  padding: 0 15px;
  height: 90%;
  overflow: auto;
  background: #fff;
  border: 1px solid #ccc;
}
#entity-dialog.ed-default .dialog-header {
  border-radius: 5px 5px 0 0;
  background: #dedede;
  border: 1px solid #ccc;
  border-bottom: 0;
  padding: 5px 0;
  height: 33px;
}
#entity-dialog.ed-default .dialog-header h3 {
  text-align: center;
  color: #666;
  margin: 0;
}
#entity-dialog.ed-default .dialog-header .dialog-close {
  background: transparent;
  position: absolute;
  top: 0;
  right: 6px;
  cursor: pointer;
  color: #666;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
}
#entity-dialog.ed-default .dialog-header .dialog-close:hover {
  text-decoration: none;
}
