#entity-dialog.ed-small {
  background-color: rgba(0, 0, 0, 0.7);
}
#entity-dialog.ed-small .inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 25%;
  width: 30%;
  min-height: 180px;
  min-width: 230px;
  margin: auto;
  /* Positioned offscreen for preloading. */
  background: #ffffff url(../images/spinner.gif) no-repeat fixed -9999px -9999px;
}
#entity-dialog.ed-small .inner.loading {
  background-position: center center;
}
#entity-dialog.ed-small .dialog-header {
  border-radius: 5px 5px 0 0;
  position: relative;
}
#entity-dialog.ed-small .dialog-header h3 {
  padding: 2% 15px 0 15px;
  font-size: inherit;
  line-height: inherit;
  margin-bottom: 10px;
}
#entity-dialog.ed-small .dialog-header .dialog-close {
  display: inline-block;
  margin: 2px 2px 3px 2px;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background: #999;
  position: absolute;
  top: -9px;
  right: 6px;
  margin-left: 15px;
  cursor: pointer;
  color: #fff;
}
#entity-dialog.ed-small .dialog-header .dialog-close:after {
  font-family: sans-serif;
  content: 'x';
  position: relative;
  left: 2px;
  top: -3px;
  font-size: 12pt;
}
#entity-dialog.ed-small .dialog-header .dialog-close:hover {
  background-color: #840d17;
  text-decoration: none;
}
#entity-dialog.ed-small .dialog-content {
  padding: 0 15px;
  overflow: auto;
  height: 55%;
}
#entity-dialog.ed-small .dialog-content .form-actions {
  margin-bottom: 0;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
#entity-dialog.ed-small .dialog-content .form-actions input {
  margin-right: 20px;
}
